-- Update totalDebt for 116 customers (data from KiotViet as of 05/08/2026)
-- Generated at: 2026-08-06T02:14:23.524Z
BEGIN;

-- 01 Mẹ Nhu 0981927975-Phát
UPDATE "Customer" SET "totalDebt" = 1210000 WHERE "code" = 'KH000486' AND "tenantId" = 1;

-- 01 Đặng Thai Mai 0935072316
UPDATE "Customer" SET "totalDebt" = 4008120 WHERE "code" = 'KH000500' AND "tenantId" = 1;

-- 02 nam trân - 0799464611
UPDATE "Customer" SET "totalDebt" = 3555000 WHERE "code" = 'KH000865' AND "tenantId" = 1;

-- 0326272266 265 hà huy tập
UPDATE "Customer" SET "totalDebt" = 690000 WHERE "code" = 'KH000304' AND "tenantId" = 1;

-- 07 bình hoà 3 0705686080
UPDATE "Customer" SET "totalDebt" = 2070000 WHERE "code" = 'KH000868' AND "tenantId" = 1;

-- 09 Đào Duy Anh
UPDATE "Customer" SET "totalDebt" = 443350 WHERE "code" = 'KH001144' AND "tenantId" = 1;

-- 117 lý thái tông
UPDATE "Customer" SET "totalDebt" = 3677000 WHERE "code" = 'KH000757' AND "tenantId" = 1;

-- 117b nguyễn văn thoại 0763159405
UPDATE "Customer" SET "totalDebt" = 684000 WHERE "code" = 'KH000978' AND "tenantId" = 1;

-- 124 Lê trọng tấn 0905733044
UPDATE "Customer" SET "totalDebt" = 2410000 WHERE "code" = 'KH000918' AND "tenantId" = 1;

-- 127 bình thái 4
UPDATE "Customer" SET "totalDebt" = 7384000 WHERE "code" = 'KH000985' AND "tenantId" = 1;

-- 130 đường 30/4 0889918773
UPDATE "Customer" SET "totalDebt" = 3450000 WHERE "code" = 'KH000891' AND "tenantId" = 1;

-- 133 Phạm Tứ
UPDATE "Customer" SET "totalDebt" = 4215000 WHERE "code" = 'KH000223' AND "tenantId" = 1;

-- 135 nguyễn công trứ a Dũng 0944612288 Giò cắt 1kg 4 lát Cái cùi cắt dài ra tý
UPDATE "Customer" SET "totalDebt" = 9284300 WHERE "code" = 'KH001106' AND "tenantId" = 1;

-- 138 Nguyễn Văn Thoại 0862799095
UPDATE "Customer" SET "totalDebt" = 795000 WHERE "code" = 'KH000408' AND "tenantId" = 1;

-- 146 phạm thị lam anh đà nẵng 0966507734
UPDATE "Customer" SET "totalDebt" = 12809390 WHERE "code" = 'KH000930' AND "tenantId" = 1;

-- 157 đường trường sơn quán nhậu bia tươi bình dân
UPDATE "Customer" SET "totalDebt" = 217250 WHERE "code" = 'KH000376' AND "tenantId" = 1;

-- 17/23 lê đình kỵ 0702623211
UPDATE "Customer" SET "totalDebt" = 660000 WHERE "code" = 'KH001337' AND "tenantId" = 1;

-- 172 hồ Nghinh
UPDATE "Customer" SET "totalDebt" = 3490580 WHERE "code" = 'KH001305' AND "tenantId" = 1;

-- 177 lê quảng chí quán 92
UPDATE "Customer" SET "totalDebt" = 769250 WHERE "code" = 'KH000804' AND "tenantId" = 1;

-- 179 lê trọng tấn 0905664310
UPDATE "Customer" SET "totalDebt" = 2406080 WHERE "code" = 'KH000117' AND "tenantId" = 1;

-- CÔ TÂM - QUÁN CƠM 186 PHẠM HÙNG
UPDATE "Customer" SET "totalDebt" = 127200 WHERE "code" = 'KH001052' AND "tenantId" = 1;

-- bún lộc phát 187 Nguyễn lương Bằng -Hoà khánh DT 0905039757
UPDATE "Customer" SET "totalDebt" = 2862950 WHERE "code" = 'KH000594' AND "tenantId" = 1;

-- 197CƠM NHẤT NHẤT -62 VĂN TIẾN DŨNG
UPDATE "Customer" SET "totalDebt" = 8878250 WHERE "code" = 'KH001043' AND "tenantId" = 1;

-- 20 nguyễn hiến lê
UPDATE "Customer" SET "totalDebt" = 810000 WHERE "code" = 'KH000664' AND "tenantId" = 1;

-- 22 phan văn đáng -Đạt Mộc Nguyên
UPDATE "Customer" SET "totalDebt" = 577500 WHERE "code" = 'KH000821' AND "tenantId" = 1;

-- 220 NGUYỄN PHƯỚC LAN
UPDATE "Customer" SET "totalDebt" = 1535000 WHERE "code" = 'KH000492' AND "tenantId" = 1;

-- 222 Lê Quảng Chí - 01 âu cơ KHÔNG GIAO BILL
UPDATE "Customer" SET "totalDebt" = 69610000 WHERE "code" = 'KH001113' AND "tenantId" = 1;

-- 24 nguyễn đình tứ 0906556990
UPDATE "Customer" SET "totalDebt" = 3357500 WHERE "code" = 'KH000622' AND "tenantId" = 1;

-- 275 Nguyễn phước lan
UPDATE "Customer" SET "totalDebt" = 26895630 WHERE "code" = 'KH001086' AND "tenantId" = 1;

-- quán 100- 279 văn tiến dũng
UPDATE "Customer" SET "totalDebt" = 5133400 WHERE "code" = 'KH000656' AND "tenantId" = 1;

-- 29 thanh huy 2 0905960829
UPDATE "Customer" SET "totalDebt" = 1770000 WHERE "code" = 'KH000637' AND "tenantId" = 1;

-- 293 nguyễn phước lan 0905802260
UPDATE "Customer" SET "totalDebt" = 4835120 WHERE "code" = 'KH000561' AND "tenantId" = 1;

-- 30 Trà Khê 6 0766512168
UPDATE "Customer" SET "totalDebt" = 8083270 WHERE "code" = 'KH001213' AND "tenantId" = 1;

-- 31 nguyễn thị minh khai KO GIAO PHIẾU  SĐT: 0901173939
UPDATE "Customer" SET "totalDebt" = 800000 WHERE "code" = 'KH001011' AND "tenantId" = 1;

-- 305/9 HOÀNG DIỆU-313 hoàng diệu
UPDATE "Customer" SET "totalDebt" = 1800000 WHERE "code" = 'KH000487' AND "tenantId" = 1;

-- 322 Phạm Hùng
UPDATE "Customer" SET "totalDebt" = 300700 WHERE "code" = 'KH000384' AND "tenantId" = 1;

-- 329 nguyễn tri phương SĐT: 0931962691
UPDATE "Customer" SET "totalDebt" = 340300 WHERE "code" = 'KH001000' AND "tenantId" = 1;

-- 344A lê thanh nghị 0917019098
UPDATE "Customer" SET "totalDebt" = 1470500 WHERE "code" = 'KH000617' AND "tenantId" = 1;

-- a long-35 lê kim lăng
UPDATE "Customer" SET "totalDebt" = 745430 WHERE "code" = 'KH000796' AND "tenantId" = 1;

-- 35 lê văn hoan, hoà phong, hoà vang- phúc đồng quê
UPDATE "Customer" SET "totalDebt" = 5595700 WHERE "code" = 'KH000762' AND "tenantId" = 1;

-- 36 cao thắng - hải châu 0978476736 BAO ĐEN
UPDATE "Customer" SET "totalDebt" = 1972200 WHERE "code" = 'KH000887' AND "tenantId" = 1;

-- 362 Kinh dương vương BAO ĐEN
UPDATE "Customer" SET "totalDebt" = 7250200 WHERE "code" = 'KH001182' AND "tenantId" = 1;

-- 377 h06/02 hải phòng 0788668830
UPDATE "Customer" SET "totalDebt" = 4055800 WHERE "code" = 'KH000984' AND "tenantId" = 1;

-- 41 âu cơ chuổi phở bát đá 0932589247
UPDATE "Customer" SET "totalDebt" = 1857060 WHERE "code" = 'KH000612' AND "tenantId" = 1;

-- 440 hai bà trưng nhà hàng phố ẩm thực 0987766338
UPDATE "Customer" SET "totalDebt" = 1001600 WHERE "code" = 'KH001189' AND "tenantId" = 1;

-- 464/13 trường chinh- 242 HÀ HUY TẬP
UPDATE "Customer" SET "totalDebt" = 2571850 WHERE "code" = 'KH001110' AND "tenantId" = 1;

-- 51 nguyễn bá phát 0973840498
UPDATE "Customer" SET "totalDebt" = 1740250 WHERE "code" = 'KH000910' AND "tenantId" = 1;

-- 53 Nam trân- bê thui Út Hạnh
UPDATE "Customer" SET "totalDebt" = 10598950 WHERE "code" = 'KH001090' AND "tenantId" = 1;

-- 538 lê văn hiến
UPDATE "Customer" SET "totalDebt" = 3751840 WHERE "code" = 'KH000951' AND "tenantId" = 1;

-- 582 Trưng nữ vương , gần ngã tư nguyễn hữu thọ
UPDATE "Customer" SET "totalDebt" = 728000 WHERE "code" = 'KH000790' AND "tenantId" = 1;

-- 586 Cơm tấm Lê Dung QUÁN NHẬU ĐẦU NGÕ - gần nhà chú Lực
UPDATE "Customer" SET "totalDebt" = 6396645 WHERE "code" = 'KH000469' AND "tenantId" = 1;

-- 59 hồ nguyên trừng
UPDATE "Customer" SET "totalDebt" = 3107000 WHERE "code" = 'KH000532' AND "tenantId" = 1;

-- 57/7 nguyen chí thanh-60 ngô sĩ liên- ngã 3 Phan phu tiên và lý thái tông(22 Phan Phu Tiên)
UPDATE "Customer" SET "totalDebt" = 42282520 WHERE "code" = 'KH001199' AND "tenantId" = 1;

-- 625 tôn đức thắng 0339550344
UPDATE "Customer" SET "totalDebt" = 6623850 WHERE "code" = 'KH000924' AND "tenantId" = 1;

-- 73 nguyễn ân 0935461417-
UPDATE "Customer" SET "totalDebt" = 930000 WHERE "code" = 'KH000856' AND "tenantId" = 1;

-- 80 hồ quý ly 0985115687
UPDATE "Customer" SET "totalDebt" = 352400 WHERE "code" = 'KH000600' AND "tenantId" = 1;

-- 81 lý thái tông-0763528688
UPDATE "Customer" SET "totalDebt" = 1440000 WHERE "code" = 'KH000882' AND "tenantId" = 1;

-- 877 âu cơ
UPDATE "Customer" SET "totalDebt" = 495000 WHERE "code" = 'KH000558' AND "tenantId" = 1;

-- ANH DƯƠNG - 88 PHẠM HÙNG
UPDATE "Customer" SET "totalDebt" = 3098454 WHERE "code" = 'KH000097' AND "tenantId" = 1;

-- 89 đống đa
UPDATE "Customer" SET "totalDebt" = 3423980 WHERE "code" = 'KH000271' AND "tenantId" = 1;

-- 91/2 nguyễn Đình Tứ
UPDATE "Customer" SET "totalDebt" = 4604600 WHERE "code" = 'KH000508' AND "tenantId" = 1;

-- 97 hà huy tập
UPDATE "Customer" SET "totalDebt" = 2000500 WHERE "code" = 'KH000899' AND "tenantId" = 1;

-- A Nam Hoà Liên Sdt: 0905953003
UPDATE "Customer" SET "totalDebt" = 1440000 WHERE "code" = 'KH001168' AND "tenantId" = 1;

-- A Tâm (Hoà Tiến, Bê Lan đi lên 7-8 trăm mét, 0905187834
UPDATE "Customer" SET "totalDebt" = 270300 WHERE "code" = 'KH000671' AND "tenantId" = 1;

-- ANH DƯƠNG VỊT NƯỚNG 37 minh mạng
UPDATE "Customer" SET "totalDebt" = 1267000 WHERE "code" = 'KH001136' AND "tenantId" = 1;

-- ANH SƠN - SỤN GÀ
UPDATE "Customer" SET "totalDebt" = -6448300 WHERE "code" = 'KH001112' AND "tenantId" = 1;

-- anh đào
UPDATE "Customer" SET "totalDebt" = 26997510 WHERE "code" = 'KH001037' AND "tenantId" = 1;

-- Bê Lan - Lệ Trạch - Hòa Tiến
UPDATE "Customer" SET "totalDebt" = 32381100 WHERE "code" = 'KH001036' AND "tenantId" = 1;

-- CHỊ YẾN - BÊ THUI HOÀNG YẾN - Hòa Tiến
UPDATE "Customer" SET "totalDebt" = 19652180 WHERE "code" = 'KH001119' AND "tenantId" = 1;

-- bùi tâm - 474 hai bà trưng - hội an
UPDATE "Customer" SET "totalDebt" = 1764400 WHERE "code" = 'KH000582' AND "tenantId" = 1;

-- bún chị nhân -102 trường sơn
UPDATE "Customer" SET "totalDebt" = 1991100 WHERE "code" = 'KH000257' AND "tenantId" = 1;

-- bún ẩn LỆ 0762524876
UPDATE "Customer" SET "totalDebt" = 1982400 WHERE "code" = 'KH000971' AND "tenantId" = 1;

-- Bảo , ngân hàng Agribank krong 3 phú túc, gia lai
UPDATE "Customer" SET "totalDebt" = 85400 WHERE "code" = 'KH000280' AND "tenantId" = 1;

-- cô chiến
UPDATE "Customer" SET "totalDebt" = 2580000 WHERE "code" = 'KH000290' AND "tenantId" = 1;

-- CHÚ LỰC - QUÁN BÚN QL1A
UPDATE "Customer" SET "totalDebt" = 14791770 WHERE "code" = 'KH001087' AND "tenantId" = 1;

-- CHỊ THUỶ - QUÁN THUỶ
UPDATE "Customer" SET "totalDebt" = 269650 WHERE "code" = 'KH001032' AND "tenantId" = 1;

-- Chị Cẩm - Bún cô 4
UPDATE "Customer" SET "totalDebt" = 472500 WHERE "code" = 'KH001053' AND "tenantId" = 1;

-- CHỊ DIỄM - TUÝ LOAN
UPDATE "Customer" SET "totalDebt" = 1133840 WHERE "code" = 'KH000011' AND "tenantId" = 1;

-- chị quyên 0935949824
UPDATE "Customer" SET "totalDebt" = 2872700 WHERE "code" = 'KH000653' AND "tenantId" = 1;

-- CHỊ TRÂM TUÝ LOAN0- tiệm hẻm
UPDATE "Customer" SET "totalDebt" = 4752610 WHERE "code" = 'KH001130' AND "tenantId" = 1;

-- Quán cơm C Thúy - 40 võ chí công
UPDATE "Customer" SET "totalDebt" = 2497500 WHERE "code" = 'KH000250' AND "tenantId" = 1;

-- cô kiệm bến cá
UPDATE "Customer" SET "totalDebt" = 13177100 WHERE "code" = 'KH001080' AND "tenantId" = 1;

-- cô ngãi
UPDATE "Customer" SET "totalDebt" = 130000 WHERE "code" = 'KH000405' AND "tenantId" = 1;

-- CÔ THU QUÃNG NGÃI
UPDATE "Customer" SET "totalDebt" = 12849960 WHERE "code" = 'KH001079' AND "tenantId" = 1;

-- cô thủy quán cơm phạm hùng
UPDATE "Customer" SET "totalDebt" = 3347610 WHERE "code" = 'KH000007' AND "tenantId" = 1;

-- CÔ VÂN  CẦU ĐỎ
UPDATE "Customer" SET "totalDebt" = 3935810 WHERE "code" = 'KH000065' AND "tenantId" = 1;

-- CÔ VÂN - 30 MẸ THỨ
UPDATE "Customer" SET "totalDebt" = 719650 WHERE "code" = 'KH000056' AND "tenantId" = 1;

-- Cô Xê da heo
UPDATE "Customer" SET "totalDebt" = 2544360 WHERE "code" = 'KH000230' AND "tenantId" = 1;

-- CÔ ÚT - cơm 39
UPDATE "Customer" SET "totalDebt" = 304850 WHERE "code" = 'KH000041' AND "tenantId" = 1;

-- CƠM 346
UPDATE "Customer" SET "totalDebt" = 3935000 WHERE "code" = 'KH000083' AND "tenantId" = 1;

-- CƠM ANH THƯ
UPDATE "Customer" SET "totalDebt" = 1155000 WHERE "code" = 'KH000052' AND "tenantId" = 1;

-- CƠM ANH VŨ 187 VĂN TIẾN DŨNG
UPDATE "Customer" SET "totalDebt" = 6172250 WHERE "code" = 'KH001108' AND "tenantId" = 1;

-- cơm bốn lanh điện thắng
UPDATE "Customer" SET "totalDebt" = 26050887 WHERE "code" = 'KH001088' AND "tenantId" = 1;

-- SUẤT ĂN - CƠM GÀ TAM KỲ công ty dệt vinatex đường số 3 khu công nghiệp hoà khánh
UPDATE "Customer" SET "totalDebt" = 13206100 WHERE "code" = 'KH001096' AND "tenantId" = 1;

-- CƠM NHẬT ANH
UPDATE "Customer" SET "totalDebt" = 3960000 WHERE "code" = 'KH000079' AND "tenantId" = 1;

-- cơm tấm 3 miền ngã tư nam kì giao trần đại nghĩa
UPDATE "Customer" SET "totalDebt" = 1286500 WHERE "code" = 'KH000949' AND "tenantId" = 1;

-- Cường Huế 0931413161
UPDATE "Customer" SET "totalDebt" = 2000000 WHERE "code" = 'KH000687' AND "tenantId" = 1;

-- HỦ TIẾU KIM LIÊN
UPDATE "Customer" SET "totalDebt" = 10899800 WHERE "code" = 'KH000076' AND "tenantId" = 1;

-- ANH LINH HỦ TIẾU
UPDATE "Customer" SET "totalDebt" = 4057350 WHERE "code" = 'KH001097' AND "tenantId" = 1;

-- Mai - HÒA TIẾN
UPDATE "Customer" SET "totalDebt" = 1754000 WHERE "code" = 'KH000082' AND "tenantId" = 1;

-- MỘC NGUYÊN - BIA HƠI
UPDATE "Customer" SET "totalDebt" = 1871750 WHERE "code" = 'KH000073' AND "tenantId" = 1;

-- nhà hàng soho gọi  0358547660 kiểm tra hàng
UPDATE "Customer" SET "totalDebt" = 1636571 WHERE "code" = 'KH001117' AND "tenantId" = 1;

-- phong lệ quán
UPDATE "Customer" SET "totalDebt" = 5029520 WHERE "code" = 'KH001127' AND "tenantId" = 1;

-- PHÚC BOSS: 0344443973-0394110191 Thạch Mỹ Nam Giang
UPDATE "Customer" SET "totalDebt" = 2142550 WHERE "code" = 'KH001287' AND "tenantId" = 1;

-- Phúc Đồng Quê 0935780308
UPDATE "Customer" SET "totalDebt" = 3181000 WHERE "code" = 'KH000641' AND "tenantId" = 1;

-- quán bé thy
UPDATE "Customer" SET "totalDebt" = 857500 WHERE "code" = 'KH000305' AND "tenantId" = 1;

-- QUÁN GIÓ CHIỀU
UPDATE "Customer" SET "totalDebt" = 810000 WHERE "code" = 'KH000043' AND "tenantId" = 1;

-- quán phượng ký DT605 đối diện điện máy TVMart , bên cạnh bánh canh cua
UPDATE "Customer" SET "totalDebt" = 6654220 WHERE "code" = 'KH000900' AND "tenantId" = 1;

-- cô sương -149 hoàng đình ái
UPDATE "Customer" SET "totalDebt" = 1391700 WHERE "code" = 'KH000208' AND "tenantId" = 1;

-- anh thịnh minh mạng
UPDATE "Customer" SET "totalDebt" = 2335040 WHERE "code" = 'KH001125' AND "tenantId" = 1;

-- thuận gia foods
UPDATE "Customer" SET "totalDebt" = 36976767 WHERE "code" = 'KH001240' AND "tenantId" = 1;

-- THÈM - LÃU & NƯỚNG BBQ
UPDATE "Customer" SET "totalDebt" = 3220750 WHERE "code" = 'KH001040' AND "tenantId" = 1;

-- c thảo chung cư
UPDATE "Customer" SET "totalDebt" = 1910150 WHERE "code" = 'KH000247' AND "tenantId" = 1;

-- Thực phẩm sạch Nước ngọt:, 0385051039- Lăng cô huế
UPDATE "Customer" SET "totalDebt" = 1268000 WHERE "code" = 'KH000615' AND "tenantId" = 1;

-- Tuyền Chợ tam quan hoài nhơn
UPDATE "Customer" SET "totalDebt" = 1527400 WHERE "code" = 'KH000952' AND "tenantId" = 1;

-- Ông Nghĩnh Trần Tử Bình - 0905817561
UPDATE "Customer" SET "totalDebt" = 5673104 WHERE "code" = 'KH001094' AND "tenantId" = 1;

COMMIT;
-- Total: 116 customers updated
